.form {
  margin-top: 15px;
  margin-bottom: 15px;
  
  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
  }

  &__input {
    width: 100%;
    font-weight: 400;
    padding: 0 10px;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    font-size: 1.8rem;
    height: 50px;
    color: $color-secondary;

    &::placeholder {
      color: $color-grey;
    }

  @include mobile {
    font-size: 1.4rem;
    height: 30px;
  }

  &:focus {
    outline-color: $color-main;
  }
}

  &__hint {
    font-size: 1rem;

    &_error {
      color: $color-error;
    }

    &_valid {
      color: $color-valid;
    }

  }
}