.hotkeys {
  border
  &__title {
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px 10px;
  }

  &__key {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 6px;
    min-width: 40px;
    background-color: $color-popup-border;
    border-radius: 2px;
    border: 2px solid $color-secondary;
  }

  &__label {
    font-size: 20px;
  }
}
