.popup {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 40px;
  border-radius: 18px;
  background-color: $color-popup-background;
  border: 8px solid $color-popup-border;

  &__message-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;

  }

  &__message {
    &_room {
      text-align: center;
    }
  }

  &__change {
    color: $color-link;
    @include transition(color);

    &:hover {
      color: $color-link-dark;
    }
  }

  &__close {
    position: absolute;
    right: 6px;
    top: 6px;
    color: $color-grey-light;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;

    @include mobile {
      width: 26px;
      height: 26px;
    }

    &:hover {
      color: $color-link;
    }
  }
}