.popup {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 580px;
  margin: auto;
  padding: 40px;
  border-radius: 14px;
  background-color: $color-popup-border;

  &::before {
    content: '';
    position: absolute;
    z-index: -10;
    top: 6px;
    left: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 14px;
    background-color: $color-popup-background;
    border: 2px solid $color-secondary;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -20;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid $color-secondary;
  }

  &__message-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;

  }

  &__message {
    text-align: center;
  }

  &__change {
    color: $color-link;
    @include transition(color);

    &:hover {
      color: $color-link-dark;
    }
  }

  &__close {
    position: absolute;
    z-index: 100;
    right: -23px;
    top: -23px;
    color: $color-grey-light;
    width: 46px;
    height: 46px;
    background-image: url('../assets/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;

    @include mobile {
      width: 26px;
      height: 26px;
    }

    &:hover {
      color: $color-link;
    }
  }
}